network = "10.10"
auth_url="http://10.2.95.100:5000/v2.0"
tenant_name="cf-test"
tenant_id="cf-test"
username="long"
password="long"
public_key_path="/Users/lnguyen/.ssh/id_rsa.pub"
key_path="/Users/lnguyen/.ssh/id_rsa"
floating_ip_pool="net04_ext"
region="RegionOne"
